@model MyDealUrlShortner.ViewModels.UrlViewModel
@{
    ViewBag.Title = "Url Shortner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h1>Shorten Your Url</h1>
    @using (Html.BeginForm())
    {
     
        <div class="form-group">
                @Html.LabelFor(u => u.ActualUrl)
                @Html.TextBoxFor(u => u.ActualUrl, new { @class = "form-control" })
                @Html.ValidationMessageFor(u=>u.ActualUrl)
        </div>
       
       
    if (!string.IsNullOrEmpty(Model.MinifiedUrl))
    {
       <div class="form-group"><a href="@Model.MinifiedUrl">@Model.MinifiedUrl</a></div>
    }

        <button type="submit" class="btn btn-primary">Submit</button>
    }




